
  div.views-cycle
  {
    width: 550px;
    /*height: 292px;*/
  }
  .view-cycle-pager
  {
    width: 150px;
    float: right;
  }

  #content .view-cycle-pager li
  {
    float: left;
    width: 65px;
    height: 65px;
    margin: 0 0 10px 10px;
    padding: 0;
    border: 0;
    background-color: #000;
  }

  .view-cycle-pager li a.activeSlide
  {
    display: block;
    line-height: 0;
    width: 65px;
    height: 65px;
  }

  .view-cycle-pager li a.activeSlide img,
  .view-cycle-pager li a:hover img
  {
    -moz-opacity:0.5;
    opacity:0.5;
    filter:alpha(opacity=50);
    display: block;
  }

/** The slideshow container **/
  .views-cycle-container
  {
    /*float: right;*/
    float: left;
    width: 400px;
    height: 500px;
  }
  .views-cycle-container li
  {
    float: right;
    width: 400px;
    margin: 0;
    padding: 0;
  }



/** PALANTIR OVERRIDES **/

  .display-content-area .content .views-cycle-container li
  {
  	padding: 0;
  	margin: 0;
	  border-top: none;
  }



  .view-portfolio .pager, /* Portfolio nodes*/
  .view-portfolios .pager /* Portfolio rollup */
  {
    text-align: right;
    border-top: none;
    margin-bottom: 10px;
  }
  .view-portfolio .pager li.last
  {
    padding-right: 0;
  }

  .display-content-area .content .view-portfolio .pager li  {
    border: none;
  }

  .view-portfolio
  {
  	position: relative;
  }

  /** navbar **/

  .view-portfolio
  {
    width: 550px;
    height: /*327px*/auto;
  }

  .view-portfolio .view-content
  {
  	margin-bottom: 35px;
  	float: left;
  }
  .view-portfolio .view-content .views-cycle
  {
    width: 550px;
    height: /*292px*/auto;
    /*margin-top: 1.9em;  /*Set this to the same value as the navbar + page-col's h1.title height height above. */
  }
  .view-portfolio .item-list
  {
    float: left;
    clear: both;
    width: 100%;
    margin-left: 0;
    /*margin-right: -100%; /* Negative value of #navbar's width + left margin. */
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #navbar-inner. */
    height: 1.9em; /* The navbar can have any arbritrary height. We picked one
                      that is twice the line-height pluse 1em: 2 x 1.3 + 1 = 3.6
                      Set this to the same value as the margin-top below. */
  }

  .view-portfolio .field-type-nodereference
  {
  	clear: both;
  }
